.container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.services_wrapper {
  display: flex;
  gap: 24px;
}

.current_service {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
}

.current_service img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.service_list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.service_list:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0px;
  height: 100%;
  width: 1px;
  background-color: #e8e8e8;
}

.service_list__item {
  cursor: pointer;
  display: flex;
  position: relative;
  height: 132px;
  width: 180px;
  z-index: 1;
}

.service_list__item.active {
  position: relative;
}

.service_list__item.active ::before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  left: -10px;
  top: 0px;
  height: 100%;
  width: 5px;
  background-color: #e8e8e8;
  border-radius: 5px;
}

.service_list__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.service_list__item .title {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service_list__item .title:before {
  content: '';
  background-color: rgba(37, 65, 81, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.service_list__item.active .title:before {
  background-color: rgba(37, 65, 81, 0.3);
}

.service_list .title p {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--ulu-color-primary);
  text-shadow: var(--ulu-text-shadow);
}

.service_list__item .eye_icon {
  margin-bottom: 8px;
  cursor: pointer;
}

.service_info__content {
  width: calc(100% - 204px);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.service_info__content h2 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: var(--ulu-color-primary);
  text-shadow: var(--ulu-text-shadow);
}

.service_info__content p {
  font-family: 'Poppins';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--ulu-color-primary-shade-2);
}

.service_info__content p:not(:last-of-type) {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1440px) {
  .current_service img {
    max-height: 600px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    margin-top: 0px;
  }

  .current_service {
    width: 100%;
    margin-top: 40px;
  }

  .current_service img {
    min-height: 320px;
  }

  .service_info__content {
    width: 100%;
  }

  .service_info__content p {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 480px) {
  .service_info__content h2 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 8px;
  }

  .service_info__content p {
    font-size: 16px;
  }

  .service_info__content p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
