html {
  font-size: 16px;
}

:root {
  --ulu-color-white: #ffffff;
  --ulu-color-primary: #fafafa;
  --ulu-color-primary-shade-2: #fafafa;
  --ulu-color-primary-shade-5: #a1a1a1;
  --ulu-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
}

button {
  border: none;
  outline: none;
  margin-top: 40px;
  cursor: pointer;
  width: fit-content;
  padding: 16px 24px;
  background: #f4f5f6;
  border-radius: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
}

button.outlined {
  background: transparent;
  padding: 16px 24px;
  width: fit-content;
  height: 48px;
  border: 1px solid #f4f5f6;
  color: #f4f5f6;
}

.title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.title_content h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #d6d6d6;
  margin-bottom: 16px;
}

.title_content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scrollbtn {
  position: fixed;
  width: 100%;
  left: 86.7%;
  bottom: 120px;
  height: 20px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
}

/* Responsive Styles 1124px */
@media screen and (max-width: 1124px) {
  .title_content h3 {
    font-size: 44px;
  }
}
@media screen and (max-width: 850px) {
  .title_content h3 {
    font-size: 39px;
  }
}

@media screen and (max-width: 600px) {
  .scrollbtn {
    bottom: 280px;
    left: calc(100% - 90px);
  }
}

/* Responsive Styles 480px */
@media screen and (max-width: 480px) {
  .title_content h2 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 8px;
  }
  .title_content h3 {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }
  .title {
    align-items: flex-start;
  }
  .title img {
    width: 36px;
    height: 36px;
  }
  .scrollbtn {
    bottom: 243px;
    left: calc(100% - 75px);
  }
  .btn {
    width: 48px;
    height: 48px;
  }
}
