.App {
  margin: 0px auto;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

/* Hero Styles */
.hero {
  width: 100%;
  min-height: 960px;
  background-color: #111316;
  background-image: url('https://res.cloudinary.com/dscuc72dw/image/upload/q_auto:good/f_auto/v1675045274/ubulu_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 64px 120px 146px 120px;
}

.hero .wrapper {
  position: relative;
  justify-content: flex-end;
  right: 0;
}

/* Navbar Styles */
.nav h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #d6d6d6;
}

/* Rotating Element */

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Hero Content */
.hero_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.rotate_container {
  position: absolute;
  right: 0;
  bottom: 80px;
}

.content {
  width: calc(100% - 108px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 20px;
}

.content h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #d6d6d6;
}

.content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #fcfcfd;
}

.content p {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #d6d6d6;
}

/* About Us Section */
.about_us_section,
.services_section,
.contact_section {
  display: flex;
  justify-content: center;
  padding: 80px 120px;
}

.about_us_section {
  background: #12202d;
  position: relative;
}

.about_us_section .wrapper {
  z-index: 3;
}

.video__bg_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(18, 32, 45, 0.9);
}

.about_us_section video,
.partners_section video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.about_content_section {
  margin-top: 80px;
  display: flex;
  gap: 48px;
}

.about_content_section img {
  width: 100%;
  min-width: 587px;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #d6d6d6;
}

.about_content p:first-child {
  margin-bottom: 115px;
}

/* Services Section Styles */
.services_section {
  background-image: url('./assets/images/Our services bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.services_content_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
  margin-top: 64px;
}

/* Partners Section */
.partners_section {
  background: #23262f;
  display: flex;
  justify-content: center;
  padding: 64px 120px;
  position: relative;
}

.partners_section .wrapper {
  z-index: 3;
}

.partners_section h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.partners_content {
  display: flex;
  justify-content: space-evenly;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.partner a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #fafafa;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.partner a .partner_icon {
  margin-left: 10px;
}

/* Contact Section Styles */
.contact_section {
  background: #111316;
}

.contact_content {
  display: flex;
  gap: 80px;
  padding: 80px;
  margin-top: 80px;
  background: #23262f;
  box-shadow: 0px 64px 64px -48px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.social,
.email {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  width: fit-content;
}
.links {
  margin-bottom: 16px;
}
.social p,
.email p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #c4c4c4;
  margin-bottom: 8px;
}
.email {
  grid-column: 2;
}
.social {
  grid-column: 1;
}
.social_links {
  display: flex;
  gap: 15px;
}

.social_links a,
.social_links a svg {
  width: 24px;
  height: 24px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact_form textarea,
.contact_form input {
  border: none;
  outline: none;
  color: #d6d6d6;
  background: #080808;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
}
.contact_form textarea {
  height: 110px;
  resize: none;
  overflow: auto;
}
.contact_form textarea::placeholder,
.contact_form input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #f4f5f6;
}
.contact_form button {
  width: 100%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #08080c;
  margin-top: 0px;
}
.form_group {
  display: flex;
  flex-direction: column;
}
.form_group label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #f4f5f6;
  margin-bottom: 12px;
}
.send_mail {
  margin-right: 13px;
}

/* Responsive Styles 1124px */
@media screen and (max-width: 1400px) {
  .about_content_section img {
    min-width: 480px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1240px) {
  .about_content_section {
    flex-direction: column;
  }

  .about_content_section img {
    max-width: 600px;
    align-self: center;
  }
}

/* Responsive Styles 1124px */
@media screen and (max-width: 1124px) {
  .hero {
    padding: 64px 60px 100px 60px;
  }

  .partners_section {
    padding: 60px 24px;
  }

  .content h2 {
    font-size: 54px;
  }
  .about_us_section,
  .services_section,
  .contact_section {
    padding: 80px 60px;
  }

  .about_content_section img {
    max-width: 587px;
  }

  .contact_content {
    padding: 40px;
    gap: 40px;
  }
}

/* Responsive Styles 850px */
@media screen and (max-width: 850px) {
  .content {
    width: 100%;
  }

  .content h2 {
    font-size: 38px;
    line-height: 1.2;
  }

  .about_content p {
    font-size: 24px;
    line-height: 1.5;
  }

  .about_content p:first-child {
    margin-bottom: 60px;
  }

  .rotate_container {
    bottom: -20px;
  }

  .contact_content {
    flex-wrap: wrap;
    column-gap: 34.45px;
    margin-top: 64px;
    row-gap: 40px;
    padding: 24px 20px;
  }
  .contact_content {
    flex-wrap: wrap;
  }
}

/* Responsive Styles 480px */
@media screen and (max-width: 680px) {
  .hero {
    padding: 64px 32px 100px 32px;
  }

  .services_section,
  .about_us_section,
  .contact_section {
    padding: 80px 32px 80px 32px;
  }

  .about_content_section img {
    width: 100%;
    min-width: unset;
  }

  .rotate_container {
    bottom: -10px;
  }

  .rotate_container svg {
    width: 71px;
    height: 71px;
  }
}
/* Responsive Styles 480px */
@media screen and (max-width: 480px) {
  .hero {
    min-height: 812px;
  }

  .hero,
  .partners_section {
    padding: 27px 25px 80px 24px;
  }

  .hero_content {
    margin-top: 446.36px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .content {
    margin-right: 0px;
  }

  .content h1 {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
  }
  .content h2 {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }
  .content p {
    font-size: 16px;
    line-height: 24px;
  }

  .about_us_section,
  .services_section,
  .contact_section {
    padding: 64px 24px;
  }
  .about_content_section {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  .about_content p {
    font-size: 16px;
  }
  .partners_section {
    padding: 64px 24px;
  }
  .partners_content {
    gap: 5px;
    align-items: center;
  }
  .partner {
    align-items: center;
  }
  .partner img {
    width: 48px;
    height: 48px;
  }

  .partner a {
    font-size: 16px;
    line-height: 21px;
  }

  .partner a .partner_icon {
    width: 13.33px;
    height: 13.33px;
    margin-left: 5px;
  }

  .email {
    order: 1;
  }

  .social {
    order: 2;
  }

  .email p,
  .social p {
    font-size: 14px;
    line-height: 21px;
  }

  .iconlinks {
    width: 20px;
    height: 20px;
  }

  .contact_form {
    order: 3;
  }
}
